

*{
    margin: 0%;
    padding-bottom: 3px;

    box-sizing: border-box ;

}


header{
margin: 0px;
padding: 0px;

}
header .container{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(rgba(15, 179, 0, 0.411), rgba(0, 255, 106, 0.048));
}



header .logo{
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: rgba(15,116,7,20);
        
}


header nav a:hover{
    color:black;
}


main .titulo-principal{
    
    font-size: 18px;
    height: auto;
    width: 100%;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .descricao{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;    
    font-family: 'trebuchet MS';
    font-size: 20px;

}

main .titulo{
    display:flex;
    width: 100%;
    justify-content: center; 
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


div.box {
	width: auto;
	display: inline-table;
    margin-top: 10px;
    border: 2px solid rgba(15, 116, 7, 0.13);
    background-color: rgba(15, 116, 7, 10%);
    border-radius: 10px;
}

span p{
 margin-left: 10px;
 font-family: 'Times New Roman', Times, serif;
 color: rgba(7,64,2,100%) ;
 text-decoration: underline ;
font-size: 20px;
}


.imagem{
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    
}

.container-imagem{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

header .container P{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30PX;
    
}

.subtitulo{
    display: flex;
    flex-direction: row;
    color: rgba(15,116,7,20);
    

}

.subtitulo img{
    width: 150px;
    height: 160px;
    margin-left: -130px;
    margin-top: -20px;
}

.check {
margin-left: 10px;
font-family: 'Times New Roman', Times, serif;
color: rgba(7,64,2,100%) ;
text-decoration: underline ;
font-size: 20px;
}

.check input{
    margin-left: 125px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}
.link{
    margin-top: 20px;
    text-align: center;
}


.link a{
    font-family: 'Monteserrat Alternates', Times, serif;
    font-size: 25px;
    color: rgba(15,116,7,20);
    margin-left: 10px;
    

}

body a:hover{
    color: black;
}